.bug1 {
  color: #61a01b;
}

.water1 {
  color: #43ccff;
}

.grass1 {
  color: #00ca91;
}

.fire1 {
  color: #e6695c;
}

.normal1 {
  color: #a5a5a5;
}

.poison1 {
  color: #611380;
}

.electric1 {
  color: #f9be00;
}
.ground1 {
  color: #bfac21;
}

.fairy1 {
  color: #f87ea7;
}

.fighting1 {
  color: #e81319;
}
.psychic1 {
  color: #8a0532;
}

.ghost1 {
  color: #8e55a4;
}
.rock1 {
  color: #776a3e;
}
.ice1 {
  color: #66d1e5;
}
.flying1 {
  color: #5eb9b2;
}
.dark1 {
  color: #2d221c;
}

.dragon1 {
  color: #29036a;
}

.steel1 {
  color: #7b8e8a;
}
.unknown1 {
  color: #454545;
}

.shadow1 {
  color: #4f4f4f;
}